.FormTurnosLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.FormTurnosLayout .inputs {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.FormTurnosLayout .inputsText {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
}
.FormTurnosLayout input {
  padding: 5px;
  margin: 10px;
}
.FormTurnosLayout label {
  font-size: 0.7em;
  padding: 0px 15px;
}
.InputTime {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.InputTime input {
  max-width: 40%;
}
input.error {
  border: solid 2px red;
}
.FormTurnosLayout select {
  height: 2.5em;
  margin: 10px;
  padding: 5px;
  min-width: 100px;
}

.FormTurnosLayout h3,
.FormTurnosLayout h4 {
  padding: 0px;
  margin: 5px;
  text-align: center;
}
.FormTurnosLayout .btn {
  min-width: 50%;
}
.formButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--main-margin) 0px;
}
.formTitle b {
  color: rgb(212, 0, 0);
  font-size: 1.2em;
  text-decoration: underline;
}
.formTitle {
  width: 100%;
  text-align: center;
  background-color: rgb(221, 221, 221);
  padding: 0.1em 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.fcol-1 {
  width: 100%;
}
.fcol-2 {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 1024px) {
  .fcol-2 {
    width: calc(100%);
  }
}
