.ContainerPedirTurno {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}
.containerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.containerInfo img {
  max-width: 5em;
  margin-top: 50px;
}
.containerInfo p {
  padding: 0;
  margin: 0;
}
.DiaFila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.celdaHora {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  margin: 1px;
}
.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerButton button {
  min-width: 30%;
  padding: 10px;
  margin: var(--main-margin);
}
.Turno {
  background-color: rgba(0, 0, 0, 0.1);
}
.Turno.av {
  background-color: rgb(54, 200, 73);
}
.Turno.av:hover {
  background-color: rgb(60, 223, 81);
}
