.NavBar-container {
  height: 8vh;
  width: 100%;
  top: -10vh;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  border-bottom: var(--colorBase) solid 5px;
  opacity: 1;
}
.NavBar-container.show {
  top: 0;
}
.NavBar {
  height: inherit;
  width: inherit;
  position: relative;
}
.NavBar-container img {
  height: 100%;
}
