.content-Quis{
    min-height: 100vh;
    width: 100%;
    
    position: relative;
    text-align: left;
}
.info{
    width: 40vw;
    margin-right: 60px; 
    margin-bottom: 10vh;
    line-height: 1.8;
    display: inline-block;
}
.servicios{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.servicio{
    margin: auto;
    width: 16%;
    height: 10vh;
}
.servicio-img{
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: red;
}

.content-info-img{
    width: 25vw;
    height: 80vh;
    background-color: red;
    transform: skew(-15deg);

}