:root {
  --colorBase: #29457a;
  --colorBaseDark: #1c3461;
  --colorBaseLight: #304f8a;
  --colorSecundario: #aa1c1c;
  --box-shadow: #a5a5a5;
  --background-color: rgb(218, 218, 218);
  --font-family: sans-serif;
  --border-radius: 3px;
  --main-margin: 30px;
  --content-consulta-color: rgb(179, 179, 179);
  --color-title: #525252;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  background-color: var(--background-color);
}
.col-0 {
  margin: 0px 200px;
  width: calc(100% - 400px);
}
.col-2 {
  width: 50%;
  float: left;
  position: relative;
}
.border-r {
  border-right: 3px solid rgba(0, 0, 0, 0.2);
}
.btn {
  border: none;
  background-color: var(--colorBase);
  color: white;
  font-weight: 800;
  transition: all 300ms;
  padding: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 0px 5px var(--colorBaseDark);
  will-change: backgroundcolor, box-shadow, transform;
}
.btn:hover {
  background-color: var(--colorBaseLight);
}
.btn:active {
  outline: none;
  border: none;
}
.btn:focus {
  outline: 0;
}
.w-f {
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  padding-top: 40px;
  border-bottom: var(--box-shadow) solid 5px;
  margin-bottom: 20px;
  color: var(--color-title);
}
.title h2 {
  margin: 5px;
}
.btn {
  margin: 10px 10%;
  margin-bottom: 15px;
  width: calc(80%);
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 0.3s;
  background-color: var(--colorBase);
  box-shadow: 0px 2px var(--colorBaseDark);
  will-change: backgroundcolor, box-shadow, transform;
}
.btn:hover {
  background-color: var(--colorBaseLight);
  box-shadow: 0px 4px var(--colorBaseDark);
  transform: translateY(-3px);
}
.btn:active {
  box-shadow: 0px 0px var(--colorBaseDark);
  transform: translateY(0px);
}
button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}
/*****************************************************/
.baner {
  position: relative;
  margin-top: var(--main-margin);
  margin-bottom: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.baner:nth-child(2n) {
  flex-direction: row;
}

.sub-baner {
  display: flex;
  position: relative;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border: solid #fff 40px;
  width: calc(50% - 80px - var(--main-margin) / 2);
  box-shadow: 0px 5px 0px var(--box-shadow);
  border-radius: var(--border-radius);
}

.sub-baner img {
  width: 100%;
  position: absolute;
}
/***********************************************************/
.cartel-marco {
  margin-top: var(--main-margin);
  margin-bottom: var(--main-margin);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0px 20px;
  width: calc(100% - 400px);
  border-radius: var(--border-radius);
  box-shadow: 0px 5px 0px var(--box-shadow);
}
.cartel-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 220px;
}
.cartel-imagenes img {
  width: 60px;
  height: 60px;
  transition: transform 300ms;
}
.cartel-imagenes img:hover {
  transform: scale(1.8);
}
/**************************************************/
.info-sections {
  display: inline-flex;
  background-color: #fff;
  flex-direction: row;
}
/*Footer***********************************/

/***/
@media only screen and (max-width: 1200px) {
  .col-0 {
    margin: 0px 100px;
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 1024px) {
  .col-0 {
    margin: 0px;
    width: calc(100%);
  }
  .title {
    margin-bottom: var(--main-margin);
  }

  .cartel {
    width: calc(100% - 200px);
  }
}
@media only screen and (max-width: 768px) {
  .col-0 {
    margin: 0px 50px;
    width: calc(100% - 100px);
  }
  .col-2 {
    margin: 0px;
    width: calc(100%);
  }
  /*BANER      *********************************************/
  .baner {
    flex-direction: column-reverse;
  }
  .baner:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .sub-baner:last-child {
    height: 25vh;
    border-bottom: 0px;
    box-shadow: none;
  }
  .sub-baner {
    width: calc(100% - 80px);
  }
  /*BANER END   *************************************************/

  .cartel {
    width: calc(100% - 40px);
  }

  /*****/
  .info-sections {
    margin-top: var(--main-margin);
    flex-direction: column;
  }
}

@media only screen and (max-width: 512px) {
  .col-0 {
    margin: 0px;
    width: calc(100%);
  }
  .cartel {
    width: calc(100% - 40px);
  }
  .title {
    margin-bottom: var(--main-margin);
  }
}
